## This template is only for accomodate ArgoCD managing
# a remote cluster. It needs twice as many jobs as pre and post
# hooks as it tends to delete newly created secrets
{{- if not .Values.global.copySecretsWithTemplate }}
{{- $hooks := list "pre-install" "post-install" }}
{{- if .Release.IsUpgrade }}
{{- $hooks = list "pre-upgrade" "post-upgrade" }}
{{- end }}
{{- range $hooks }}
apiVersion: batch/v1
kind: Job
metadata:
  name: copy-secrets
  namespace: {{ $.Release.Namespace }}
  annotations:
    helm.sh/hook: {{ . }}
    helm.sh/hook-delete-policy: before-hook-creation
    helm.sh/hook-weight: "0"
spec:
  ttlSecondsAfterFinished: 300
  template:
    metadata:
      name: "{{ $.Release.Name }}"
    spec:
      restartPolicy: Never
      serviceAccountName: secret-copy-handler
      containers:
        - name: copy-secrets
          image: {{ include "fn-alpine" $ }}
          command: ["copy-secrets"]
          imagePullPolicy: {{ $.Values.pullPolicy }}
          env:
            - name: CONFIG_PATH
              value: /data/config.yaml
            - name: NAMESPACE
              value: {{ $.Release.Namespace }}
            {{- if (index $.Values "cert-manager" "enabled" ) }}
            - name: HAS_CERTS
              value: "true"
            {{- end }}
            {{- if $.Values.on_eks }}
            - name: AWS_SECRET
              value: {{ $.Values.certs.aws }}
            {{- end }}
            {{- if $.Values.on_aks }}
            - name: AZURE_CM
              value: {{ $.Values.certs.azure.configmap }}
            - name: SECRET_NAME
              value: {{ $.Values.certs.azure.secretName }}
            {{- end }}
          volumeMounts:
            - name: config
              mountPath: /data/
      volumes:
        - name: config
          configMap:
            name: copy-secrets-configmap
            items:
            - key: config.yaml
              path: config.yaml
---
{{ end -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: copy-secrets-configmap
  namespace: {{ .Release.Namespace }}
  annotations:
    helm.sh/hook: pre-install, pre-upgrade
    helm.sh/hook-weight: "-4"
data:
  config.yaml: |-
    secrets:
      - name: {{ .Values.db.secret.name }}
        namespace: {{ $.Release.Namespace }}
        destination: {{ include "kc_namespace" . }}
    {{- if (.Values.firstUserSecret).name }}
      - name: {{ .Values.firstUserSecret.name }}
        namespace: {{ $.Release.Namespace }}
        destination: {{ include "kc_namespace" . }}
    {{- end }}
    {{- if .Values.storage.azure }}
      - name: {{ .Values.storage.azure.secretName }}
        namespace: {{ $.Release.Namespace }}
        destination: {{ include "tasks_namespace" . }}
    {{- if .Values.outboundMode }}
      - name: {{ .Values.storage.azure.secretName }}
        namespace: {{ $.Release.Namespace }}
        destination: {{ include "controller_namespace" . }}
    {{- end }}
    {{- end }}
    {{- if and (index .Values "cert-manager" "enabled" ) .Values.on_aks }}
      - name: {{ .Values.certs.azure.secretName }}
        namespace: {{ $.Release.Namespace }}
        destination: {{ include "certificate_namespace" . }}
    {{- end }}
    {{- if and (index .Values "cert-manager" "enabled" ) .Values.on_eks }}
      - name: {{ .Values.certs.aws }}
        namespace: {{ $.Release.Namespace }}
        destination: {{ include "certificate_namespace" . }}
    {{- end }}
    {{- if .Values.outboundMode }}
      - name: {{ (index .Values "fn-task-controller" "idp" "github" "secret_name" ) }}
        namespace: {{ $.Release.Namespace }}
        destination: {{ include "controller_namespace" . }}
    {{- end }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ .Release.Name }}-secret-copy-role
  annotations:
    helm.sh/hook: pre-install, pre-upgrade
    helm.sh/hook-weight: "-5"
rules:
- apiGroups: [""]
  resources: ["configmaps", "secrets"]
  verbs: ["get", "list", "create", "patch"]
- apiGroups: ["cert-manager.io"]
  verbs: ["get", "list", "create", "patch"]
  resources: ["clusterissuers"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ .Release.Name }}-secret-copy-role-binding
  annotations:
    helm.sh/hook: pre-install, pre-upgrade
    helm.sh/hook-weight: "-5"
subjects:
  - kind: ServiceAccount
    namespace: {{ .Release.Namespace }}
    name: secret-copy-handler
roleRef:
  kind: ClusterRole
  name: {{ .Release.Name }}-secret-copy-role
  apiGroup: rbac.authorization.k8s.io
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: secret-copy-handler
  namespace: {{ .Release.Namespace }}
  annotations:
    helm.sh/hook: pre-install, pre-upgrade
    helm.sh/hook-weight: "-5"
{{- end }}
