apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: keycloak
  namespace: {{ include "kc_namespace" . }}
  labels:
    app: keycloak
spec:
  serviceName: keycloak-headless
  replicas: {{ .Values.keycloak.replicas | default 2 }}
  selector:
    matchLabels:
      app: keycloak
  template:
    metadata:
      annotations:
        rollme: {{ template "rollMe" . }}
      labels:
        app: keycloak
    spec:
      initContainers:
        {{- include "createDBInitContainer" . | nindent 8 }}
          - name: NEW_DB
            valueFrom:
              configMapKeyRef:
                name: keycloak-config
                key: KC_DB_URL_DATABASE
        - name: credentials-reset
          imagePullPolicy: {{ .Values.pullPolicy }}
          image: {{ include "fn-alpine" . }}
          command: ["keycloak-reset"]
          {{- include "nonRootSC" . | nindent 10 }}
          env:
          - name: PGPASSWORD
            valueFrom:
              secretKeyRef:
                name: {{.Values.db.secret.name}}
                key: {{.Values.db.secret.key}}
          - name: KC_NAMESPACE
            value: {{ include "kc_namespace" . }}
          - name: PGDATABASE
            value: {{ include "dbKeycloakName" . }}
          envFrom:
          - secretRef:
              name: kc-secrets
          - configMapRef:
              name: keycloak-config
      containers:
        - image: ghcr.io/aridhia-open-source/federated_keycloak:{{ include "keycloak-image-tag" . }}
          args: [
            "start",
            "--import-realm",
            "--http-enabled=true",
            "--optimized"
          ]
          name: keycloak
          imagePullPolicy: {{ .Values.pullPolicy }}
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          readinessProbe:
            httpGet:
              path: /health
              port: 9000
            initialDelaySeconds: 20
            periodSeconds: 10
          env:
            - name: KC_DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{.Values.db.secret.name}}
                  key: {{.Values.db.secret.key}}
          envFrom:
          - secretRef:
              name: kc-secrets
          - configMapRef:
              name: keycloak-config
          volumeMounts:
            - name: config
              mountPath: /opt/keycloak/data/import/
            - name: quarkus
              mountPath: /opt/keycloak/conf/quarkus.properties
              subPath: quarkus.properties
          {{- include "nonRootSC" . | nindent 10 }}
      volumes:
        - name: config
          configMap:
            name: keycloak-start-config
            items:
            - key: config.json
              path: config.json
        - name: quarkus
          configMap:
            name: keycloak-start-config
            items:
            - key: quarkus.properties
              path: quarkus.properties
        - name: db-init
          configMap:
            name: keycloak-start-config
            defaultMode: 0777
            items:
            - key: dbinit.sh
              path: dbinit.sh
