{{- if .Values.minio.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: minio-secret
type: Opaque
stringData:
  accessKey: {{ .Values.minio.accessKey }}
  secretKey: {{ .Values.minio.secretKey }}
{{- end }}
