# Default values for federated_node.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

pullPolicy: Always
create_db_deployment: true
local_development: true
smoketests: true
taskReview: true
cleanupTime: 3

backend:
  volumes:
    results_path: /data/flask/results

db:
  user: &userDB admin
  host: db.fn.svc
  port: &portDB 5432
  secret:
    key: password
    name: &secretDB local-db

minio:
  accessKey: minioadmin
  secretKey: minioadmin

storage:
  capacity: 10Gi
  local:
    path: /data/flask
    dbpath: /data/db
    minio: /data/dagster/minio
    artifacts: /data/dagster/artifacts

certs:
  frequency: 65

integrations:
  domains:
    - http://localhost:8088
    - https://phems-federatednode.net

host: &host phems-federatednode.net
whitelist:
  enabled: false
blacklist:
  enabled: false
tls:
  secretName: &tls my-tls-secret

global:
  host: *host
  delivery_url: federated-node.uksouth.analytixagility.aridhiadev.net
  postgresqlSecretName: dagster-postgresql-secret

cert-manager:
  enabled: true

ingress-nginx:
  enabled: false
  controller:
    extraArgs:
      default-ssl-certificate: qcfederatednode/my-tls-secret

outboundMode: true

## Sub Charts

### Gateway API
gatewayApi:
  installCRD: true

### Traefik
traefik:
  providers:
    kubernetesIngress:
      enabled: false
  enabled: true

### FN Task Controller
fn-task-controller:
  controller:
    tag:
  storage:
    size: 100Mi
    local:
      path: /data/controller

  # idp:
  #   github:
  #     secret_name: github-app
  #     secret_key: GH_SECRET
  #     clientid_key: GH_CLIENT_ID
  #     orgAndRepo: Aridhia-Open-Source/Federated-Node-Example-App
  delivery:
    # github:
    #   repository: Aridhia-Open-Source/Federated-Node-Example-App
    other:
      url: federated-node.uksouth.analytixagility.aridhiadev.net
      auth_type: AzCopy


### Dagster
dagster:
  generatePostgresqlPasswordSecret: false

  postgresql:
    enabled: false
    postgresqlHost: db.fn.svc
    postgresqlUsername: admin
    postgresqlDatabase: dagster
    service:
      port: 5432

  rabbitmq:
    enabled: true
    persistence:
      enabled: false

  runLauncher:
    type: CeleryK8sRunLauncher
    config:
      celeryK8sRunLauncher:
        # Change with caution! If you're using a fixed tag for pipeline run images, changing the
        # image pull policy to anything other than "Always" will use a cached/stale image, which is
        # almost certainly not what you want.
        imagePullPolicy: "Always"
        # The Celery workers can be deployed with a fixed image (no user code included)
        image:
          # When a tag is not supplied for a Dagster provided image,
          # it will default as the Helm chart version.
          repository: localhost:5001/dagster-fn
          tag: "v12"
          pullPolicy: "Always"

        envConfigMaps:
          - name: dagster-env-config

      # configSource will be merged with the shared configSource above.
      workerQueues:
        - name: "dagster"
          replicaCount: 1
          labels: {}
          nodeSelector: {}
          configSource: {}
          additionalCeleryArgs: []

      # Additional volumes that should be included in the Job's Pod. See:
      # https://v1-18.docs.kubernetes.io/docs/reference/generated/kubernetes-api/v1.18/#volume-v1-core
      #
      # Example:
      #
      # volumes:
      #   - name: my-volume
      #     configMap: my-config-map
      volumes: []

      # Additional volume mounts that should be included in the container in the Job's Pod. See:
      # See: https://v1-18.docs.kubernetes.io/docs/reference/generated/kubernetes-api/v1.18/#volumemount-v1-core
      #
      # Example:
      #
      # volumeMounts:
      #   - name: test-volume
      #     mountPath: /opt/dagster/test_folder
      #     subPath: test_file.yaml
      volumeMounts: []

  dagster-user-deployments:
    # Creates a workspace file with the gRPC servers hosting your user code.
    enabled: true
    # If you plan on deploying user code in a separate Helm release, set this to false.
    enableSubchart: true

    # Specify secrets to run user code server containers based on images in private registries. See:
    # https://kubernetes.io/docs/concepts/containers/images/#referring-to-an-imagepullsecrets-on-a-pod
    imagePullSecrets: []

    # List of unique deployments
    deployments:
      - name: "dagster-fn"
        port: 3030
        image:
          # When a tag is not supplied, it will default as the Helm chart version.
          repository: localhost:5001/dagster-fn
          tag: "v12"

          # Change with caution! If you're using a fixed tag for pipeline run images, changing the
          # image pull policy to anything other than "Always" will use a cached/stale image, which is
          # almost certainly not what you want.
          pullPolicy: "Always"

        envConfigMaps:
          - name: dagster-env-config

        # Arguments to `dagster api grpc`.
        # Ex: "dagster api grpc -m dagster_test.test_project.test_jobs.repo -a define_demo_execution_repo"
        # would translate to:
        dagsterApiGrpcArgs:
          - "-m"
          - "app.definitions"
