name: federated_node_tests
services:
  db:
    image: 'postgres:17-alpine'
    environment:
      POSTGRES_DB: test_app
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: test_app
    volumes:
      - data:/var/lib/postgresql/data
  app:
    container_name: flask_app_test
    image: federated_node_app_test
    build:
      context: .
      dockerfile: build/test.Dockerfile
    links:
      - db
    environment:
      PGHOST:
      PGDATABASE:
      PGPORT:
      PGUSER:
      PGPASSWORD:
      PYTHONPATH: /app
      RESULTS_PATH:
      TASK_POD_RESULTS_PATH:
      KEYCLOAK_ADMIN:
      KEYCLOAK_SECRET: ${KEYCLOAK_SECRET}
      KEYCLOAK_ADMIN_PASSWORD:
      KEYCLOAK_URL:
      DEFAULT_NAMESPACE:
      TASK_NAMESPACE:
      PUBLIC_URL:
      KEYCLOAK_NAMESPACE:
      FLASK_APP: .
      CLEANUP_AFTER_DAYS:
      CONTROLLER_NAMESPACE:
volumes:
  data:
