# Default values for federated_node.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

pullPolicy: Always
create_db_deployment: true
local_development: true
smoketests: false
taskReview: true
cleanupTime: 3
copySecrets: false
default_image_tag: 1.9.0

backend:
  image: localhost:5001/webserver-fn
  tag: v30
  volumes:
    results_path: /data/flask/results

alpine:
  image: ghcr.io/aridhia-open-source/alpine
  tag: 1.9.0

keycloak:
  tag: 1.9.0

db:
  user: &userDB admin
  host: db.fn.svc
  port: &portDB 5432
  secret:
    name: local-db
    key: password
    value: local-db-secret

storage:
  capacity: 1Gi
  local:
    path: /data/flask
    dbpath: /data/db
    artifacts: /data/dagster/artifacts

global:
  host:
  delivery_url: federated-node.uksouth.analytixagility.aridhiadev.net
  postgresqlSecretName: dagster-postgresql-secret

certs:
  frequency: 65

integrations:
  domains:
    - http://localhost:8088
    - https://phems-federatednode.net

host: &host phems-federatednode.net
whitelist:
  enabled: false
blacklist:
  enabled: false
tls:
  secretName: &tls my-tls-secret

cert-manager:
  enabled: false

ingress-nginx:
  enabled: false
  controller:
    extraArgs:
      default-ssl-certificate: qcfederatednode/my-tls-secret

outboundMode: true

## Sub Charts

### Gateway API
gatewayApi:
  installCRD: false

### Traefik
traefik:
  providers:
    kubernetesIngress:
      enabled: false
  enabled: false

### FN Task Controller
fn-task-controller:
  controller:
    tag:
  storage:
    size: 100Mi
    local:
      path: /data/controller

  # idp:
  #   github:
  #     secret_name: github-app
  #     secret_key: GH_SECRET
  #     clientid_key: GH_CLIENT_ID
  #     orgAndRepo: Aridhia-Open-Source/Federated-Node-Example-App
  delivery:
    # github:
    #   repository: Aridhia-Open-Source/Federated-Node-Example-App
    other:
      url: federated-node.uksouth.analytixagility.aridhiadev.net
      auth_type: AzCopy


### Dagster
dagster:
  enabled: true

  generatePostgresqlPasswordSecret: true
  postgresqlUsername: test
  postgresqlPassword: test
  postgresqlDatabase: test

  postgresql:
    enabled: true
    service:
      port: 5432
    persistence:
      enabled: true
      storageClass: standard

  runLauncher:
    type: K8sRunLauncher
    config:
      k8sRunLauncher:
        # Change with caution! If you're using a fixed tag for pipeline run images, changing the
        # image pull policy to anything other than "Always" will use a cached/stale image, which is
        # almost certainly not what you want.
        imagePullPolicy: "Always"
        # The run launcher can be deployed with a fixed image (no user code included)
        image:
          # When a tag is not supplied for a Dagster provided image,
          # it will default as the Helm chart version.
          repository: localhost:5001/dagster-fn
          tag: v30
          pullPolicy: Always

        envConfigMaps:
          - name: dagster-env-config

        # Add volumes and volume mounts for artifacts-pvc
        volumes:
          - name: artifacts-pvc
            persistentVolumeClaim:
              claimName: artifacts-pvc
        volumeMounts:
          - name: artifacts-pvc
            mountPath: /mnt/dagster/artifacts

  dagster-user-deployments:
    # Creates a workspace file with the gRPC servers hosting your user code.
    enabled: true
    # If you plan on deploying user code in a separate Helm release, set this to false.
    enableSubchart: true

    # Specify secrets to run user code server containers based on images in private registries. See:
    # https://kubernetes.io/docs/concepts/containers/images/#referring-to-an-imagepullsecrets-on-a-pod
    imagePullSecrets: []

    # List of unique deployments
    deployments:
      - name: dagster-fn
        port: 3030
        image:
          # When a tag is not supplied, it will default as the Helm chart version.
          repository: localhost:5001/dagster-fn
          tag: v30

          # Change with caution! If you're using a fixed tag for pipeline run images, changing the
          # image pull policy to anything other than Always will use a cached/stale image, which is
          # almost certainly not what you want.
          pullPolicy: Always

        envConfigMaps:
          - name: dagster-env-config

        # Arguments to `dagster api grpc`.
        # Ex: "dagster api grpc -m dagster_test.test_project.test_jobs.repo -a define_demo_execution_repo"
        # would translate to:
        dagsterApiGrpcArgs:
          - "-m"
          - "app.definitions"
